<html>
<head>
<style>
div {
  text-align: center;
  background-color: teal;
  width: 300px;
  border: 10px Black;
  padding: 30px;
  margin-left:500px;
  margin-top:100px;
}
.a{

	background: gray;
	color:Black ;
	border-color:white;
	height: 30px;
	width: 80px;
	font: bold 15px arial;
}
.b{

	background: gray;
	color: black;
	border-style: outset;
	border-color: white;
	height: 30px;
	width: 100px;
	font: 15px arial;
}
body{
background-color:gray;
}
form{
	width: 300px;
    margin: 0 auto;
}
</style>
</head>
<body>
<h2 style="font-size:40px; text-align:center; color:white">StartUps</h2>
<div>
<form action="/login" method="post">  
<p> Marketing Spent </p>
<p> <input type = "text" name = "ms"/></p>
<p> Administration Spent</p>
<p> <input type = "text" name = "ad"/></p>
<p> R&D Spent </p>
<p> <input type = "text" name = "rd"/></p>
<label class="b" for = "states">Choose a State </label>
<select class="b" name = "s">
<option value = "California"> California </option>
<option value = "Florida"> Florida </option>
<option value = "New York"> New York </option>
</select

<center><p> <input class="a" type = "submit" value = "Submit"/></p></center>

</form>
<b>{{y}}</b>
<body/>
</html>